.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border: 0;
  border-radius: var(--radius-sm);
  color: var(--neutral-0);
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color var(--transition);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button-primary {
  min-height: 3.5rem;
  padding: 1rem 1.5rem;
  border-radius: var(--radius-md);
  background-color: var(--blue-500);
  font-size: 1.25rem;
}

.button-primary:focus-visible {
  outline-color: var(--blue-500);
}

.button-secondary {
  min-height: 2.75rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--neutral-800);
  font-size: 0.875rem;
}

.button-tertiary {
  min-height: 2.75rem;
  padding: 0.5rem 1rem;
  background-color: var(--neutral-600);
  font-size: 1rem;
}

.dropdown {
  position: relative;
}

.dropdown-chevron {
  transition: rotate var(--transition);
}

[aria-expanded="true"] > .dropdown-chevron {
  rotate: 180deg;
}

@media (hover: hover) {
  .button-primary:not(:disabled):hover {
    background-color: var(--blue-700);
  }

  .button-secondary:not(:disabled):hover {
    background-color: var(--neutral-700);
  }

  .button-tertiary:not(:disabled):hover {
    background-color: var(--neutral-700);
  }
}

@media (min-width: 48em) {
  .button-secondary {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
